<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- property 元素用于配置Hibernate中的属性
            键:值 
          -->
        <property name="show_sql">true</property>

        <property name="format_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
 
        <property name="hibernate.connection.autocommit">true</property>

		<mapping resource="User.hbm.xml"/>
		<mapping resource="BankCard.hbm.xml"/>
		<mapping resource="CardRecord.hbm.xml"/>
    
    </session-factory>
</hibernate-configuration>